<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="flashcard-page">
    <nav class="navbar-custom">
        <div>
            <a class="logo" href="{% url 'landing_page' %}"><span class="logo">Quiz Master</span></a>
        </div>
        <div>
            <a href="{% url 'login' %}"><button>Login</button></a>
            <a href="{% url 'signup' %}"><button>Sign up</button></a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mt-4 quiz-metadata">
                    <h3>Quiz set name</h3>
                    <h5>Author name</h5>
                </div>
                <div class="content-box question-card">
                    <article>
                        <p class="question-no">Question: {{ card.pk }}</p>
                        <h4>{{ card.question }}</h4>
                        
                        <details>
                            <summary>Reveal Answer</summary>
                            <p>{{ card.answer }}</p>
                        </details>
                        <hr> 
                        <!-- cards/templates/card_check_form.html -->
                    
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="EgxFkOgNY5ODsU6JLwwEoAXdBtVxF2dEP0Ke7hItXa4kKpRSfgqKYSbJyukjdaoy">
                        <input type="hidden" name="card_id" value="3">
                        <input type="hidden" name="solved" value="True">
                        
                            <input type="submit" value="✅ I know">
                        
                    </form>
                        <!-- cards/templates/card_check_form.html -->
                    
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="EgxFkOgNY5ODsU6JLwwEoAXdBtVxF2dEP0Ke7hItXa4kKpRSfgqKYSbJyukjdaoy">
                        <input type="hidden" name="card_id" value="3">
                        <input type="hidden" name="solved" value="False">
                        
                            <input type="submit" value="❌ I don't know">
                        
                    </form>
                    
                     </article></div></div>
            <div class="col-md-3"></div>
        </div>

        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
