{% extends "cards/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
  <div id="dashboard">
    <h2>Dashboard</h2>
    <a href="{% url 'cards:cardset-create' %}" class="btn btn-primary dashboard-btn">Create New Card Set</a>
    <ul class="dashboard-list">
      {% for cardset in cardsets %}
        <li class="dashboard-cardset">
          <h3>CardSet Name -  {{ cardset.name }}</h3>
          <a href="{% url 'cards:cardset-detail' pk=cardset.pk %}">View</a>
          <a href="{% url 'cards:cardset-update' pk=cardset.pk %}" class="dashboard-edit">Edit</a>
          <form method="post" action="{% url 'cards:cardset-delete' cardset.pk %}" class="dashboard-delete">
              {% csrf_token %}
              <input type="submit" value="Delete cardset">
          </form>
        </li>
      {% empty %}
        <li>No cardsets yet.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
</body>
</html>
